# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?

# Rust
/target

# Leftovers from the Tauri and Vue frontend
node_modules
dist
/src-tauri
